/* * {
  border: 1px solid red;
} */

html {
  margin: 0;
  padding: 0;
}

body {
  background-color: #efefe9;
  font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}

h1 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
  font-size: 48px;
  padding-top: 35px;
}

h2 {
  font-family: 'Pathway Gothic One', sans-serif;
  text-align: center;
}

nav {
  color: white;
  /* font-style: bold; */
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  width: 75vw;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 20px;
  padding: 0;
  /* height: 80px; */
  /* width: 75vw; */
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

.beer-pics {
  height: 40vh;
  width: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.middle-title {
  color: white;
  padding: 0;
  font-size: 8vh;
  margin: 0
}

#display-result-beer {
  padding: 50px;
}

#page-title-wrapper {
  background-color: black;
  font-color: white;
  display: inline-block;
  position: static;
  margin: 0 auto;
  width: 100vw;
  /* margin-top: px; */
  padding: 10px;
  right: 0;
  left: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  padding: 15px;
  align-items: center;
  background-color: black;
  height: 80px;
  width: 100vw;
  padding: 0;
  border: 0;
  position: fixed;
  margin: 0;
  top: 0;
  position: sticky;
}

#brewdog-logo {
  height: 50px;
  width: auto;
  margin: 0 15px;
}

#main-slider {
  margin-top: auto;
  width: 100%;
  height: auto;

}

/* #centre {
  background-image: 'pictures/efp6_featured_2.jpg';
} */

input[type=submit] {
  padding: 10px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  font-size: 16px;

}

#submit-form {
  text-align: center;
}

/* #blue-box:hover {
  background-color: black;
} */

#find-out-more {
  padding: 10px;
  border-style: none;
  font-size: 26px;
  background-color: #00aedb;
  font-family: 'Pathway Gothic One', sans-serif;
  /* font-weight: 600; */
  letter-spacing: 2px;
  display: flex;
  align-items: baseline;
  justify-content: center;
  /* margin-left: 43%; */
}

#find-out-more:hover {
  background-color: black;
  color: white;
  animation: pulse 4s infinite;
}

#find-out-link {
  /* padding: 10px; */
}

#find {
  right: 0;
  left:0;
  margin: 0;
}

.beer-pics {
  align-content: center;
}
